.categories-section {
  background-color: #f8f9fa;
  padding: 2rem 0;
  text-align: center;
}

.category-item {
  margin-bottom: 2rem;
}


.category-btn {
  background-color: #fff;
  border: 1px solid #007bff;
  border-radius: 15px;
  padding: 0.5rem;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 120px;
  height: 140px;
}

.category-btn:hover {
  background-color: #007bff;
  color: white;
}

.category-icon {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}