.product-card {
    transition: box-shadow 0.3s;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: none !important;
}

.product-card:hover {
    box-shadow: 0 0 12px 3px rgba(0, 123, 255, 0.6) !important;
}

.product-thumbnail {
    text-align: center;
    padding: 10px;
}

.product-thumbnail img {
    max-width: 100%;
    height: 180px;
    object-fit: contain;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
    /* transform: translateY(-2px); */
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.original_price {
    text-decoration: line-through;
    color: gray;
    margin-left: 8px;
}

.discount_percentage {
    color: green;
    margin-left: 8px;
}

.category-bar {
    background-color: #f8f9fa;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
    white-space: nowrap;
}

.category-item {
    cursor: pointer;
    font-size: 1rem;
}

.category-link {
    padding: 8px 16px;
    border-radius: 6px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: 500;
    color: #333;
}

.category-link:hover {
    background-color: #007bff;
    color: #fff;
}

/* Active state style */
.category-link.active {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 123, 255, 0.3);
}


@media (max-width: 768px) {
    .category-bar {
        padding: 8px;
    }

    .category-link {
        font-size: 0.9rem;
    }
}

.product-card .wishlist-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 2;
}

.wishlist-btn {
    border-radius: 50%;
}

.wishlist-btn:hover {
    background-color: red !important;
}

.wishlist-btn:hover svg {
    color: white !important;
}